.row-header{
    margin: 3rem auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 3rem 0 3rem 0;
    border-bottom: 1px solid lightgrey;
}

.jumbotron {
    border-radius: 0px;
}

.footer {
    margin: 0px auto;
    padding: 20px 0 20px 0;
}

.address {
    font-size: 80%;
    margin: 0px;
}

span {
    margin-top: 5px;
}